:root
{
  --color-background: #4C566A;
  --color-background-bis: #3B4252;
  --color-header: #2E3440;
  --color-text: #eceff4;
  --color-text-bis: #D8DEE9;

  --color-footer: #2E3440;
}

.App {
  text-align: center;
  background-color: var(--color-background);
}


div
{
  display: block;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* -------------- BODY -------------- */
.App-body {
  margin-top: 14vmin;
  padding-top: 4vmin;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--color-text);
  /* hauteur minimal */
  min-height: 47.5vh;
}

.App-footer
{
  background-color: var(--color-background);
}


p {
  padding: 0.25em 1em;
  margin: 0.2em;
  color: var(--color-text);
  font-size: calc(10px + 1vmin);  
}

h1
{
  font-size: calc(20px + 2vmin);
  color: var(--color-text);
  margin: 1em;
}

h2
{
  font-size: calc(10px + 2vmin);
  color: var(--color-text);
  margin: 0.5em;
}

/* ------------ Boutton test ---------------*/
button {
  background-color: var(--color-header);
  color: var(--color-text);

  font-size: calc(10px + 4vmin);
  padding: 0.5em 1em;
  margin: 1em;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
  outline: none;
  transition:font-size 0.2s;
}

.button {
  background-color: var(--color-header);
  color: var(--color-text);
/* increase the size  */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: calc(10px + 4vmin);
  padding: 0.5em 1em;
  margin: 1em;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
  outline: none;
  transition:font-size 0.2s;
}

button:hover {
  font-size: calc(16px + 4vmin);
}


/* ------------ page link ---------------*/
a
{
  color: var(--color-text);
  text-decoration: none;
}



/* ------------ content ---------------*/
.App-body-content
{
  display: flex;
  flex-direction: column;
  align-items: inherit;
  justify-content: center;
}
.App-body-content-one
{
  background-color: var(--color-background);
}

.App-body-content-svg
{
  align-items: inherit;
}


.nofound
{
  max-width: 50%;
  margin: auto;
}
