/* mettre des couleurs en variable */
:root
{
  --color-background: #4C566A;
  --color-header: #2E3440;
  --color-text: rgb(236, 239, 244);
  --color-text-bis: rgb(216, 222, 233);
  --color-footer: #3B4252;
}

.App {
  text-align: center;
  background-color: var(--color-background);
}

.App-logo {
  height: 13vmin;
  pointer-events: none;
  margin: 1%;
  border-radius: 45%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

div
{
  display: block;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* -------------- BODY -------------- */

.App-body {
  background-color: var(--color-background);
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--color-text);
}

p {
  padding: 0.25em 1em;
  margin: 0.2em;
  color: var(--color-text);
  font-size: calc(10px + 1vmin);  
}

h1
{
  font-size: calc(20px + 2vmin);
  color: var(--color-text);
  margin: 1em;
}

h2
{
  font-size: calc(10px + 2vmin);
  color: var(--color-text);
  margin: 0.5em;
}

/* ------------ Boutton test ---------------*/

button {
  background-color: var(--color-header);
  color: var(--color-text);
  font-size: 1.5em;
  padding: 0.5em 1em;
  margin: 1em;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
  outline: none;
  box-shadow: 0 0 0 1px #4C566A;
  transition:box-shadow 0.2s;
}
button:hover {
  box-shadow: 0 0 0 4px #2E3440;
}

/* ------------ page link ---------------*/
a
{
  color: var(--color-text);
  text-decoration: none;
}