/* ------------------------------------ */
/* -------------- HEADER -------------- */
/* ------------------------------------ */

.App-header {
    background-color: var(--color-header);
    display: flex;
    font-size: calc(10px + 2vmin);
    color: var(--color-text);
    padding: 0px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.App-header.small {
    padding: 0px;
}

.App-logo.small {
    transform: scale(0.7);
    margin: 0%;
}

.App-link {
    color: var(--color-text-bis);
}

.App-header-title {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: calc(10px + 2vmin);
    font-weight: bold;
    color: var(--color-text);
    padding-right: 20%;
}
.App-header-title.small {
    font-weight: normal;
}

/* ------- list menu ------- */
.App-header-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    padding: 0;
    margin: 0;
    list-style: none;
}

.App-header-menu-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 5em;
}

.App-header-small
{
    display: none;
}

.App-header-content
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

.App-logo {
  height: 13vmin;
  pointer-events: none;
  margin: 1%;
  /*border-radius: 45%;*/
}

/* ---------- screen scale ---------- */
@media only screen and (max-width: 840px) {
    .App-header-menu {
        display: none;
    }
    .App-header-small {
        display: flex;
        right: 15px;
        margin: 4vmax;
        margin: 0;
        padding: 0;
        position: absolute; 
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
    } 
}

/* -------------- menu actif -------------- */
/* TOFIX: list menu place */
@keyframes down-header {
    0% {
        width: 100%;
        height: 10%;
        transform-origin: top;
    }
    100% {
        width: 100%;
        height: 100%;
        transform-origin: top;
    }
}
.App-header.active
{
    animation: down-header 0.5s ease-in-out;
    width: 100%;
    height: 100%;
    position: fixed;
}

@keyframes down {
    0% {
        opacity: 0;
        transform: rotateX(70deg);
        transform-origin: top;
    }
    100% {
        opacity: 1;
        transform: rotateX(0deg);
        transform-origin: top;
    }
}
@keyframes up {
    0% {
        opacity: 1;
        transform: rotateX(0deg);
        transform-origin: top;
    }
    100% {
        opacity: 0;
        transform: rotateX(70deg);
        transform-origin: top;
    }
}
.App-header.active .App-header-menu
{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20vmin;
    align-items: center;
    padding-bottom: 0;
    list-style: none;
    animation: down 1s ease 0s 1 normal forwards;
}

.App-header.active .App-header-content
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin-top: 0;
    padding-bottom: 0;
    list-style: none;
    animation: down 1s ease 0s 1 normal forwards;
}


.App-header.active .App-header-title
{
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 0;
    padding-top: calc(2px + 1vmin);
}

.App-header.active .App-header-list
{
    display: flex;
    width: 100%;
    height: 90%;
    padding: 0;
    margin: 10px;
    list-style: none;
    align-items: center;
}

.App-header.active .App-header-small
{
    top: 7.5vmin;
}
.App-header.small.active .App-header-small
{
    top: 6vmin;
}
.App-header.active .App-header-title
{
    display: none;
}


/* ------------ Footer ---------------*/
.App-footer {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.App-footer-copyright
{
    background-color: var(--color-footer);
    color: var(--color-text);
    margin-top: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: calc(8px + 2vmin);

}

.App-footer p
{
    margin: 2vmin;
    padding: 0;
    font-size: calc(10px + 2vmin);
}

.App-footer-name
{
    padding: 0em;
    margin: 0em;
    margin-bottom: 2%;
}

.App-footer-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 1em;
    margin: 0;
    list-style: none;
}


.codeBlock{
    text-align: left;
}