.part-body
{
    min-height: 60%;
}

.part-body-title
{
    font-size: calc(10px + 5vmin);
    font-weight: bold;
    color: var(--color-text);
    padding: 1em;
}


.part-body-subtitle
{
    font-size: calc(10px + 2vmin);
    color: var(--color-text);
    padding: 3%;
}

.part-body-image
{
    object-fit: fill;
    object-position: center;
    height: 20vmax;
    display: flex;
    justify-content: center;
    border-radius: 1em;
    margin: 0em;
}

.App-body-content-two
{
    background-color: var(--color-background-bis);
}